 <!-- MAIN -->
        <main id="main">
            <!-- FEATURED IMAGE -->
            <div id="featured-image-container">
                <!-- LOADER -->
                <div class="img-loading"></div>
                <div id="featured-image">
                    <div id="featured-image-title">
                        <h1>About Us</h1>
                        <p><span><b>&nbsp;&nbsp;Confidence in Style</b></span></p>          
                    </div>
                </div>
            </div>
            <!-- PAGE CONTAINER -->
            <div id="page-container">
                <!-- GRID -->
                <div class="grid">
                    <div class="unit half">
                        <h3 class="border">Who We Are</h3>
                        <p>Panache is place where you could find extaordinary talented models,connect to the casting directors,market your portfolios and get connected to stylist ,photographers and foumous models under one roof.</p>
                        <p>Panache is an online community for models, photographers, and creative talents with almost 200,000 active members. Panache started in 1997 and has grown to a thriving company with over 20 employees working on designing, programming, and overseeing the day-to-day activities on the site. Panache is a privately-owned corporation</p>
                    </div>
                    <div class="unit half">
                        <!-- FLEX VIDEO -->
                        <div class="flex-video" data-pe-videoid="feOScd2HdiU" data-thumb="images/photos/about-video.jpg"></div>
                    </div>
                </div>
                <!-- GRID BORDER -->
                <div class="grid-border"></div>
                <!-- GRID -->
                <div class="grid">
                    <div class="unit half">
                        <a href="images/photos/800x450.png" class="gallery photo enable-colorbox">
                            <img class="flex-img" src="images/photos/about2.jpg" alt="" />
                        </a>
                    </div>
                    <div class="unit half">
                        <h3 class="border">What We Do</h3>
                        <p>Access Thousands of Acting, Modeling and Crew Job Opportunities
As a  member, you can be your own agent and gain access to 1000s of opportunities nationwide. When you pay for our pro membership service, you will get free access to all of our audition information, and you can submit yourself at no charge to Casting Directors and Agents. You can also avoid paying an Agent if you book the gig, putting more money in your pocket!</p>
                        <p>Want to impress agents even more? Post samples of your work or your personal video reel on your unique panache profile and showcase your talents!</p>
                    </div>
                </div>
                <!-- GRID HERO -->
                <div class="grid hero">
                    <div class="unit whole">
                        <h3>What makes us stand out from the crowd?</h3>
                        <p>Litteris efflorescere ab aliquip qui do do ipsum possumus</p>
                    </div>
                </div>
                <!-- GRID -->
                <div class="grid">
                    <div class="unit half">
                        <div class="icon-left">
                            <!-- ICON -->
                            <div class="icon-container">
                                <a href="#" class="fa fa-map-marker"></a>
                            </div>
                            <!-- ICON TEXT-->
                            <div class="icon-text">
                                <h5>Central Location</h5>
                                <p>Te summis mentitum ullamco, aliqua nam officia do nescius dolor quem an ipsum,eu quorum laborum philosophari. Sint est ubi aliqua cernantur nam.</p>
                            </div>
                        </div>
                    </div>
                    <div class="unit half">
                        <div class="icon-left">
                            <!-- ICON -->
                            <div class="icon-container">
                                <a href="#" class="fa fa-flag"></a>
                            </div>
                            <!-- ICON TEXT -->
                            <div class="icon-text">
                                <h5>Industry Experience</h5>
                                <p>Officia exercitation do nescius. Est nam legam sint duis. Cernantur quis iudicem ingeniis, sint hic mandaremus. Hic summis dolore e quibusdam, commodo.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- GRID -->
                <div class="grid">
                    <div class="unit half">
                        <div class="icon-left">
                            <!-- ICON -->
                            <div class="icon-container">
                                <a href="#" class="fa fa-users"></a>
                            </div>
                            <!-- ICON TEXT-->
                            <div class="icon-text">
                                <h5>Model Bootcamp</h5>
                                <p>Voluptate illum dolor ita ipsum, quid deserunt singulis, labore admodum itamultos malis ea nam nam tamen foreamet. Vidisse quid incurreret ut ut labore possumus.</p>
                            </div>
                        </div>
                    </div>
                    <div class="unit half">
                        <div class="icon-left">
                            <!-- ICON -->
                            <div class="icon-container">
                                <a href="#" class="fa fa-rocket"></a>
                            </div>
                            <!-- ICON TEXT -->
                            <div class="icon-text">
                                <h5>Professional Advice</h5>
                                <p>Legam e officia ita nae nam varias, admodum ea illum officia, nisi pariatur id doloreirure, est proident se probant, et lorem appellat possumus appellat.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- GRID BORDER -->
                <div class="grid-border"></div>
                <!-- GRID -->
                <div class="grid">
                    <div class="unit whole">
                        <h3 class="border">Meet Our Team</h3>
                        <!-- MEMBERS CAROUSEL -->
                        <div id="ourteam" class="owl-carousel">
                            <!-- MEMBER -->
                            <figure class="ombre-carousel">
                                <!-- MEMBER IMAGE -->
                                <img src="images/photos/640x640.png" alt="" />
                                <!-- MEMBER INFO -->
                                <figcaption>
                                    <h5 class="">Alisha Paul</h5>
                                    <div class="social-icons-box">
                                        <ul class="social-icons team-social">
                                            <li>
                                                <a href="#" class="fa fa-facebook-f tooltip-pink" title="Facebook">Facebook</a>
                                            </li>
                                            <li>
                                                <a href="#" class="fa fa-twitter tooltip-pink" title="Twitter">Twitter</a>
                                            </li>
                                            <li>
                                                <a href="#" class="fa fa-instagram tooltip-pink" title="Instagram">Instagram</a>
                                            </li>
                                        </ul>
                                    </div>
                                </figcaption>
                            </figure>
                            <!-- MEMBER -->
                            <figure class="ombre-carousel">
                                <!-- MEMBER IMAGE -->
                                <img src="images/photos/640x640.png" alt="" />
                                <!-- MEMBER INFO -->
                                <figcaption>
                                    <h5 class=""></h5>
                                    <div class="social-icons-box">
                                        <ul class="social-icons team-social">
                                            <li>
                                                <a href="#" class="fa fa-facebook-f tooltip-pink" title="Facebook">Facebook</a>
                                            </li>
                                            <li>
                                                <a href="#" class="fa fa-twitter tooltip-pink" title="Twitter">Twitter</a>
                                            </li>
                                            <li>
                                                <a href="#" class="fa fa-behance tooltip-pink" title="Behance">Behance</a>
                                            </li>
                                            <li>
                                                <a href="#" class="fa fa-vimeo tooltip-pink" title="Vimeo">Vimeo</a>
                                            </li>
                                        </ul>
                                    </div>
                                </figcaption>
                            </figure>
                            <!-- MEMBER -->
                            <figure class="ombre-carousel">
                                <!-- MEMBER IMAGE -->
                                <img src="images/photos/640x640.png" alt="" />
                                <!-- MEMBER INFO -->
                                <figcaption>
                                    <h5  class=""></h5>
                                     <div class="social-icons-box">
                                        <ul class="social-icons team-social">
                                            <li>
                                                <a href="#" class="fa fa-facebook-f tooltip-pink" title="Facebook">Facebook</a>
                                            </li>
                                            <li>
                                                <a href="#" class="fa fa-flickr tooltip-pink" title="Flickr">Flickr</a>
                                            </li>
                                            <li>
                                                <a href="#" class="fa fa-instagram tooltip-pink" title="Instagram">Instagram</a>
                                            </li>
                                        </ul>
                                    </div>
                                </figcaption>
                            </figure>
                            <!-- MEMBER -->
                            <figure class="ombre-carousel">
                                <!-- MEMBER IMAGE -->
                                <img src="images/photos/640x640.png" alt="" />
                                <!-- MEMBER INFO -->
                                <figcaption> 
                                    <h5  class=""></h5>
                                    <div class="social-icons-box">
                                        <ul class="social-icons team-social">
                                            <li>
                                                <a href="#" class="fa fa-facebook-f">Facebook</a>
                                            </li>
                                            <li>
                                                <a href="#" class="fa fa-flickr">Flickr</a>
                                            </li>
                                            <li>
                                                <a href="#" class="fa fa-instagram">Instagram</a>
                                            </li>
                                        </ul>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </main>
   
    <!-- BACKSTRETCH (BG IMAGE, HERO IMAGE AND FEATURED IMAGE) -->
    <script type="text/javascript">
        jQuery(document).ready(function () {
            "use strict";
            jQuery('#featured-image').backstretch("images/photos/about-thumb.jpg", {fade:500});
        });
    </script>
    <!-- RESPONSIVE VIDEO -->
    <script type="text/javascript" src="js/jquery.fitvids.js"></script>
    <script type="text/javascript" src="js/jquery.prettyembed.min.js"></script>
    <!-- NERVESLIDER -->
    <script type="text/javascript" src="js/jquery-ui-custom.min.js"></script>
    <script type="text/javascript" src="js/nerveslider.min.js"></script>
    <script type="text/javascript" src="js/homeslider.js"></script>
   <!--  <!-- CAROUSELS -->
    <script type="text/javascript" src="js/owl.carousel.min.js"></script>
    --> <!-- MEMBERS CAROUSEL -->
    <script type="text/javascript">
        jQuery(window).load(function () {
            jQuery("#ourteam").owlCarousel({
                items: 1,
                margin: 30,
                dots: false,
                smartSpeed: 800,
                navText: [' ', ' '],
                nav: true,
                loop: false,
                navRewind: false,
                lazyLoad: true,
                responsive: {
                    481: {
                        items: 1
                    },
                    641: {
                        items: 2
                    },
                    1025: {
                        items: 3
                    }
                }
            });
        });
    </script>