        <!-- MAIN -->
        <main id="main">
            <!-- SLIDER -->
            <div id="slider-container">
                <div id="home-slider">
                    <!-- SLIDE -->
                    <div>
                        <img src="images/photos/slide1.jpg" data-animation="image-zoom scale-left" alt="">
                        <!-- SLIDE TITLE -->
                        <div class="ns_slideContent">
                            <div class="top-right">
                                <h1 class="animatedmedium slideInRight">Welcome to Panache</h1>
                                <p class="animated slideInRight"><span>Create, Connect, Inspire</span></p>
                            </div>
                        </div>
                    </div>
                    <!-- SLIDE -->
                    <div>
                        <img src="images/photos/slide2.jpg" data-animation="image-zoom scale-right" alt="">
                        <!-- SLIDE TITLE -->
                        <div class="ns_slideContent">
                            <div class="top-left">
                                <h1 class="animatedmedium slideInLeft">Online community for models</h1>
                                <p class="animated slideInLeft"><span>Find AMAZING Talent for your project</span></p>
                            </div>
                        </div>
                    </div>
                    <!-- SLIDE -->
                    <div>
                        <img src="images/photos/slide3.jpg" data-animation="image-zoom scale-right" alt="">
                        <!-- SLIDE TITLE -->
                        <div class="ns_slideContent">
                            <div class="bottom-right">
                                <h1 class="animatedmedium slideInRight">The Best of the Best</h1>
                                <p class="animated slideInRight"><span>Stand Out from the Crowd</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- PAGE CONTAINER -->
            <div id="page-container">
                <!-- GRID -->
                <div class="grid">
                    <div class="unit one-third">
                        <!-- ICON -->
                        <div class="icon-container">
                            <a href="models-2-columns.html" class="fa fa-diamond"></a>
                        </div>
                        <!-- ICON TEXT-->
                        <div class="icon-text">
                            <h3>Top Models</h3>
                            <p>The top ranked models having reached the pinnacle of the industry are found in the Icons, Supers and Legends lists.</p>
                        </div>
                    </div>
                    <div class="unit one-third">
                        <!-- ICON -->
                        <div class="icon-container">
                            <a href="models-2-columns.html" class="fa fa-bolt"></a>
                        </div>
                        <!-- ICON TEXT-->
                        <div class="icon-text">
                            <h3>Men</h3>
                            <p>Serving both as aspirational body ideals and arbiters of male models provide a visual representation of fashion.</p>
                        </div>
                    </div>
                    <div class="unit one-third">
                        <!-- ICON -->
                        <div class="icon-container">
                            <a href="models-2-columns.html" class="fa fa-fire"></a>
                        </div>
                        <!-- ICON TEXT -->
                        <div class="icon-text">
                            <h3>Women</h3>
                            <p>The women who walk the runway have the power to inspire editors, buyers, and fashion lovers to covet a particular piece.</p>
                        </div>
                    </div>
                </div>
                <!-- GRID BORDER -->
                <div class="grid-border"></div>
                <!-- GRID -->
                <div class="grid">
                    <div class="unit one-third">
                        <h3 class="border">About Us</h3>
                        <div class="responsive-img">
                            <img src="images/photos/about-thumb.jpg" alt="" />
                        </div>
                        <p>Panache is place where you could find extaordinary talented models,connect to the casting directors,market your portfolios and get connected to stylist ,photographers and foumous models under one roof</p>
                        <a href="about.html" class="button">READ MORE</a>
                    </div>
                    <div class="unit two-thirds">
                        <h3 class="border">Why Choose Us</h3>
                        <p>Panache offers a great service to different communities of Fashion. It is a centralized arena where you can locate Models, Casting Directors, Photographers, Stylist and Casting Agencies. We love what We do and We bring zeal and commitment to every assignment We work on.</p>
                        <!-- ROUNDED LIST -->
                        <ol class="rounded-list">
                            <li><span>Over 20 years experience</span>
                            </li>
                            <li><span>The best Talent agency in the world</span>
                            </li>
                            <li><span>Professional advice</span>
                            </li>
                        </ol>
                     </div>
                </div>
                <!-- GRID -->
                <div class="grid hero">
                    <div class="unit whole">
                        <!-- TESTIMONIALS CAROUSEL -->
                        <div id="testimonials">
                            <!-- TESTIMONIAL 1 -->
                            <div class="testimonial">
                                <div class="testimonial-right">
                                    <div class="testimonial-text">
                                        <p>I did not have much experience, but a producer saw my Panache Portfolio and booked me for a regional TV commercial series that paid really well!</p>
                                        <p class="testimonial-cite"><span>―</span> Riley Lynch</p>
                                    </div>
                                </div>
                                <div class="testimonial-left">
                                    <img src="images/photos/test1.jpg" alt="" />
                                    <!-- NAVIGATION ARROWS -->
                                    <div class="testimonial-nav">
                                        <div class="testimonial-nav-left"><i class="fa fa-chevron-left"></i></div>
                                        <div class="testimonial-nav-right"><i class="fa fa-chevron-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <!-- TESTIMONIAL 2 -->
                            <div class="testimonial">
                                <div class="testimonial-left">
                                    <img src="images/photos/test2.jpg" alt="" />
                                    <!-- NAVIGATION ARROWS -->
                                    <div class="testimonial-nav">
                                        <div class="testimonial-nav-left"><i class="fa fa-chevron-left"></i></div>
                                        <div class="testimonial-nav-right"><i class="fa fa-chevron-right"></i></div>
                                    </div>
                                </div>
                                <div class="testimonial-right">
                                    <div class="testimonial-text">
                                        <p>Having a dream to stand out in this competitive industry is like going into a battle, you have to have protection and weapons! Panache is my weapon,</p>
                                        <p class="testimonial-cite"><span>―</span> Zoe Alexander</p>
                                    </div>
                                </div>
                            </div>
                            <!-- TESTIMONIAL 3 -->
                            <div class="testimonial">
                                <div class="testimonial-left">
                                    <img src="images/photos/test3.jpg" alt="" />
                                    <!-- NAVIGATION ARROWS -->
                                    <div class="testimonial-nav">
                                        <div class="testimonial-nav-left"><i class="fa fa-chevron-left"></i></div>
                                        <div class="testimonial-nav-right"><i class="fa fa-chevron-right"></i></div>
                                    </div>
                                </div>
                                <div class="testimonial-right">
                                    <div class="testimonial-text">
                                        <p>As a promotions model and brand ambassador, I am interested in working in as many venues as possible and working throughout the year instead of just during the busy season. Sometimes to achieve that you have to be on file with a few different promotional agencies. On Panache I can put together a whole team of contacts by sending pickup requests to be represented or by accepting pickup offers from new agents. </p>
                                        <p class="testimonial-cite"><span>―</span> Shawn Garrett</p>
                                    </div>
                                </div>
                            </div>
                            <!-- TESTIMONIAL 4 -->
                            <div class="testimonial">
                                <div class="testimonial-left">
                                    <img src="images/photos/test4.jpg" alt="" />
                                    <!-- NAVIGATION ARROWS -->
                                    <div class="testimonial-nav">
                                        <div class="testimonial-nav-left"><i class="fa fa-chevron-left"></i></div>
                                        <div class="testimonial-nav-right"><i class="fa fa-chevron-right"></i></div>
                                    </div>
                                </div>
                                <div class="testimonial-right">
                                    <div class="testimonial-text">
                                        <p>Time management is very important to me. Panache allows me to live my life while my name, picture & resume are seen by the world’s best casting directors. Panache allows me to submit my material online to the jobs I want.</p>
                                        <p class="testimonial-cite"><span>―</span> Hailey Fisher</p>
                                    </div>
                                </div>
                            </div>
                            <!-- TESTIMONIAL 5 -->
                            <div class="testimonial">
                                <div class="testimonial-left">
                                    <img src="images/photos/test5.jpg" alt="" />
                                    <!-- NAVIGATION ARROWS -->
                                    <div class="testimonial-nav">
                                        <div class="testimonial-nav-left"><i class="fa fa-chevron-left"></i></div>
                                        <div class="testimonial-nav-right"><i class="fa fa-chevron-right"></i></div>
                                    </div>
                                </div>
                                <div class="testimonial-right">
                                    <div class="testimonial-text">
                                        <p>Panache is great. It helped me book two magazine covers and ton of other print work. Being in the Panache database definitely jump started my modeling career. Check out my portfolio, it only costs me $20 a month & it's worth every cent!</p>
                                        <p class="testimonial-cite"><span>―</span> Nevaeh Patterson</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- GRID -->
                <div class="grid">
                    <div class="unit whole">
                        <h3 class="border">Our Models</h3>
                        <!-- MODELS CAROUSEL -->
                        <div id="models" class="owl-carousel">
                            <!-- MODEL -->
                            <figure class="ombre-carousel">
                                <!-- MODEL IMAGE -->
                                <a href="single-model.html" class="gallery link">
                                    <img src="images/photos/models1-square.jpg" alt="" />
                                </a>
                                <!-- MODEL INFO -->
                                <figcaption>
                                    <h5><a href="single-model.html">Penny Moore</a></h5>
                                    <p>Americas Next TOP Model.</p>
                                    <a class="arrow-button" href="single-model.html">View Profile</a>
                                </figcaption>
                            </figure>
                            <!-- MODEL -->
                            <figure class="ombre-carousel">
                                <!-- MODEL IMAGE -->
                                <a href="single-model.html" class="gallery link">
                                    <img src="images/photos/models2-square.jpg" alt="" />
                                </a>
                                <!-- MODEL INFO -->
                                <figcaption>
                                    <h5><a href="single-model.html">Jamie Banks</a></h5>
                                    <p>TOP Model.</p>
                                    <a class="arrow-button" href="single-model.html">View Profile</a>
                                </figcaption>
                            </figure>
                            <!-- MODEL -->
                            <figure class="ombre-carousel">
                                <!-- MODEL IMAGE -->
                                <a href="single-model.html" class="gallery link">
                                    <img src="images/photos/models3-square.jpg" alt="" />
                                </a>
                                <!-- MODEL INFO -->
                                <figcaption>
                                    <h5><a href="single-model.html">Bertha Holmes</a></h5>
                                    <p>Check her profile to know more about her</p>
                                    <a class="arrow-button" href="single-model.html">View Profile</a>
                                </figcaption>
                            </figure>
                            <!-- MODEL -->
                            <figure class="ombre-carousel">
                                <!-- MODEL IMAGE -->
                                <a href="#" class="gallery link">
                                    <img src="images/photos/models4-square.jpg" alt="" />
                                </a>
                                <!-- MODEL INFO -->
                                <figcaption>
                                    <h5><a href="single-model.html">Patsy Medina</a></h5>
                                    <p>Sed se anim lorem dolore sed sed lorem commodo arbitrantur hic quis offendit.</p>
                                    <a class="arrow-button" href="single-model.html">View Profile</a>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
                <!-- GRID BORDER -->
                <div class="grid-border"></div>
                <div class="grid">
                    <div class="unit whole no-padding">
                        <!-- OUR PARTNERS CAROUSEL -->
                        <div id="partners" class="owl-carousel">
                            <!-- LOGO -->
                            <div>
                                <a href="#">
                                    <img src="images/photos/brayEnter.jpg" width="250px" height="75px" alt="" />
                                </a>
                            </div>
                            <!-- LOGO -->
                            <div>
                                <a href="#">
                                    <img src="images/photos/Aziza.jpg" width="250px" height="75px" alt="" />
                                </a>
                            </div>
                            <!-- LOGO -->
                            <div>
                                <a href="#">
                                    <img src="images/photos/AngeloFilms.jpg" width="250px" height="75px" alt="" />
                                </a>
                            </div>
                            <!-- LOGO -->
                            <div>
                                <a href="#">
                                    <img src="images/photos/SpaceDragon.jpg" width="250px" height="75px" alt="" />
                                </a>
                            </div>
                            <!-- LOGO -->
                            <div>
                                <a href="#">
                                    <img src="images/photos/TannerVideo.jpg"  width="250px" height="75px" alt="" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>



    <!-- NERVESLIDER -->
    <script type="text/javascript" src="js/jquery-ui-custom.min.js"></script>
    <script type="text/javascript" src="js/nerveslider.min.js"></script>
    <script type="text/javascript" src="js/homeslider.js"></script>
    <!-- CAROUSELS -->
    <script type="text/javascript" src="js/owl.carousel.min.js"></script>
    <!-- MODELS CAROUSEL -->
    <script type="text/javascript">
        jQuery(window).load(function () {
            jQuery("#models").owlCarousel({
                items: 1,
                margin: 30,
                dots: false,
                smartSpeed: 800,
                navText: [' ', ' '],
                nav: true,
                loop: false,
                navRewind: false,
                lazyLoad: true,
                responsive: {
                    481: {
                        items: 1
                    },
                    641: {
                        items: 2
                    },
                    1025: {
                        items: 3
                    }
                }
            });
        });
    </script>
    <!-- TESTIMONIALS CAROUSEL -->
    <script type="text/javascript">
        jQuery(window).load(function () {
            "use strict";
            jQuery("#testimonials").show();
            var owl = jQuery("#testimonials").owlCarousel({
                items: 1,
                autoplay: true,
                autoplayTimeout: 4000,
                autoplayHoverPause: true,
                dots: false,
                autoHeight: false,
                margin: 100,
                mouseDrag: false,
                touchDrag: false,
                smartSpeed: 800,
                nav: false,
                loop: true,
                animateIn: 'fadeIn',
                animateOut: 'fadeOut'
            });
            jQuery('#testimonials').find('.testimonial-nav-left .fa').click(function() {
                owl.trigger('prev.owl.carousel');
            });
            jQuery('#testimonials').find('.testimonial-nav-right .fa').click(function() {
                owl.trigger('next.owl.carousel');
            });
        });
    </script>
    <!-- OUR PARTNERS CAROUSEL -->
    <script type="text/javascript">
        jQuery(window).load(function () {
            "use strict";
            jQuery("#partners").owlCarousel({
                autoplay: true,
                autoplayTimeout: 4000,
                autoplayHoverPause: true,
                items: 1,
                margin: 20,
                dots: false,
                smartSpeed: 800,
                navText: ['', ''],
                nav: false,
                loop: true,
                lazyLoad: true,
                responsive: {
                    341: {
                        items: 2
                    },
                    641: {
                        items: 3
                    },
                    1025: {
                        items: 4
                    }
                }
            });
        });
    </script>
